.contestList {
  width: 70%;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 800px) {
    width: 96%;
    margin: 0 auto;
  }
}

// -------------

.contextHeader {
  color: #377dff;
  font-weight: 600;
  font-size: 1.75em;
}

// -------------

.launchingContests {
  display: flex;
  flex-direction: column;
  padding: 64px 0;

  border-bottom: 1px solid #e7eaf3;

  width: 95%;
  align-items: space-evenly;

  & > * {
    margin: 5px;
    width: 100%;
    padding: 0;
  }

  & button {
    width: 100%;
  }
}

.launchingListItem {
  padding: 7px 0px;

  & .toggleHeader {
    padding: 0;
  }

  & a {
    text-decoration: none;
  }
}

.launchingButton {
  background-color: #fff;
  border: 1px solid #e7eaf3;
  padding: 16px;

  display: flex;
  justify-content: space-between;

  color: #1e2022;

  & > *:first-child {
    width: 88%;
    text-align: left;
  }
}

.launchingButton:hover {
  background-color: #fafafa;

  & * {
    color: #0052ea;
  }
}

.launchingContextShow {
  opacity: 1;
  height: 200px;

  border: 1px solid #e7eaf3;

  transition: height 0.3s, opacity 0.1s, border 0.3s;

  padding: 5px 30px;
}

.launchingContextHide {
  opacity: 0;
  height: 0px;
  visibility: hidden;
  border: 0px solid #e7eaf3;
  transition: height 0.3s, opacity 0.1s, border 0.3s, visibility 1s;
}

.arrowDown {
  color: #D2D8A1;
  transform: rotate(90deg);
  transition-property: transform, color;
  transition-duration: 0.5s;
}

.arrowRight {
  color: #377dff;
  transform: rotate(0deg);
  transition-property: transform, color;
  transition-duration: 0.5s;
}
