@import "./common/parts/eventForm";
@import "./common/parts/eventList";

:root {
  font-size: 1em;
}

* {
  margin: 0;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
  color: #1e2022;
  text-align: left;
  box-sizing: border-box;
}
