@import './common/parts/eventForm';
@import './common/parts/eventList';

:root {
  font-size: 1em;
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.eventHeader {
  width: 90%;
  min-width: 320px;
  margin: 50px auto 0;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pastEvents {
  position: absolute;
  top: -20px;
  right: 2px;

  padding: 2px;
  background-image: $invalid;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  font-size: 0.8em;
}
