* {
  margin: 0;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
  color: #1e2022;
  text-align: left;
  box-sizing: border-box;
}

.offerList {
  min-width: 320px;
  background-color: #2b3030;
  border-top: 5px double #fff;
  border-bottom: 5px double #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.header {
  width: 110px;
  height: 110px;
  border-radius: 8px;
  padding: 5px;
  margin: 20px 10px 10px;
  background: #46568a radial-gradient(circle at 0 0, #586baa, #46568a);
  box-shadow: inset rgba(0, 0, 0, 0.5) -3px -3px 8px,
    inset rgba(177, 208, 255, 0.9) 3px 3px 8px,
    rgba(0, 0, 0, 0.8) 3px 3px 8px -3px;
  transform: rotate(15deg);

  @media screen and (max-width: 700px) {
    transform: rotate(0deg);
  }
}

.moderatorImg {
  position: absolute;
  top: 5px;
  right: 5px;

  & > span {
    color: #46568a;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 0.8em;
  }

  & > img {
    width: 70px;
    height: 45px;
    border: 2px solid #46568a;
    border-radius: 10px;
  }

  @media screen and (max-width: 700px) {
    position: static;
    margin: 10px auto 15px;
    opacity: 0.8;

    & > span {
      letter-spacing: 15px;
    }
  }
}

.offerContainer {
  width: 95%;
  padding: 10px;
  display: flex;

  @media screen and (max-width: 1150px) {
    flex-direction: column;
    align-items: center;
  }

  @media screen and (max-width: 440px) {
    width: 99%;
  }
}

.offerInfo {
  background: #ebf2ff;
  border-radius: 5px;
  margin: 0 auto;
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  height: 460px;
}

.offerItem {
  margin: 10px;
  width: 32%;

  @media screen and (max-width: 1150px) {
    width: 65%;
  }

  @media screen and (max-width: 850px) {
    width: 80%;
  }

  @media screen and (max-width: 600px) {
    width: 90%;
  }

  @media screen and (max-width: 440px) {
    width: 99%;
  }
}

.pageButtons {
  width: 70%;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;

  @media screen and (max-width: 980px) {
    width: 84%;
  }

  @media screen and (max-width: 600px) {
    width: 90%;
  }

  & > button {
    width: 11%;
    max-width: 100px;
    padding: 5px 15px;
    border: 2px solid #46568a;
    border-radius: 8px;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #46568a;

    & > * {
      font-weight: bold;
    }

    @media screen and (max-width: 1150px) {
      width: 14%;
    }

    @media screen and (max-width: 980px) {
      width: 15%;
    }

    @media screen and (max-width: 750px) {
      width: 17%;
    }

    @media screen and (max-width: 650px) {
      width: 20%;
    }

    @media screen and (max-width: 550px) {
      width: 22%;
    }

    @media screen and (max-width: 500px) {
      width: 24%;
    }
  }

  & > button:hover {
    background-color: #879de4;
    border: 2px solid #879de4;
    transition: all 0.3s ease-in-out;
  }
}

.pageNumber {
  border: 2px solid #46568a;
  border-radius: 8px;
  padding: 1px 10px;
  font-weight: bold;
  font-size: 1.1em;
  display: flex;
  align-items: center;
  justify-content: center;

  & > span {
    color: #798cce;
  }
}
