.offerList {
  min-width: 320px;
  background-color: #2b3030;
  border-top: 5px double #fff;
  border-bottom: 5px double #fff;

  display: flex;
  flex-direction: column;
  align-items: center;

  & > h1 {
    color: #46568a;
    margin: 10px 0;
    letter-spacing: 2px;
  }
}

.offerContainer {
  width: 95%;
  padding: 10px;

  display: flex;

  @media screen and (max-width: 1100px) {
    flex-direction: column;
    align-items: center;
  }

  @media screen and (max-width: 440px) {
    width: 99%;
  }
}

.offerInfo {
  background: #ebf2ff;
  border-radius: 5px;
  margin: 0 auto;
  width: 70%;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  height: 460px;
}

.offerItem {
  border: 5px double #2B3030;
  background-color: #f9fafb;
  border-radius: 8px;
  margin: 10px;
  width: 32%;

  @media screen and (max-width: 1100px) {
    width: 65%;
  }

  @media screen and (max-width: 850px) {
    width: 80%;
  }

  @media screen and (max-width: 600px) {
    width: 90%;
  }

  @media screen and (max-width: 440px) {
    width: 99%;
  }

  & > * {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 5px;

    width: 96%;
    margin: 0 auto;
  }
}

.pageButtons {
  width: 70%;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;

  @media screen and (max-width: 980px) {
    width: 84%;
  }

  @media screen and (max-width: 600px) {
    width: 90%;
  }

  & > button {
    width: 12%;
    padding: 5px 15px;
    border: 2px solid #46568a;
    color: #46568a;
    border-radius: 8px;
    font-weight: bold;

    display: flex;
    justify-content: space-around;
    align-items: center;

    & > i {
      font-weight: bold;
      color: #ebf2ff;
    }

    @media screen and (max-width: 1100px) {
      width: 14%;
    }

    @media screen and (max-width: 980px) {
      width: 15%;
    }
  
    @media screen and (max-width: 750px) {
      width: 17%;
    }

    @media screen and (max-width: 650px) {
      width: 20%;
    }

    @media screen and (max-width: 550px) {
      width: 22%;
    }

    @media screen and (max-width: 500px) {
      width: 24%;
    }
  }

  & > button:hover {
    background-color: #46568a;
    border: 2px solid #46568a;
    transition: all 0.3s ease-in-out;
  }
}

.pageNumber {
  color: #46568a;
  border: 2px solid #46568a;
  border-radius: 8px;
  padding: 1px 10px;
  font-weight: bold;
  font-size: 1.1em;

  display: flex;
  align-items: center;
  justify-content: center;
}