@import './../styles/templates';
@import './../styles/vars';

.eventForm {
  min-width: 320px;
  width: 44%;
  height: 380px;
  margin: 20px auto;
  background-color: #e5e7eb;
  color: #1e2022;
  border-radius: 3px;

  display: flex;
  justify-content: center;
  align-items: center;

  @extend %eventFormWidthSets;
}

.formContainer {
  width: 99%;
  height: 98%;
  padding: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;

  border-radius: 3px;
  box-shadow: $formShadow;

  & > legend {
    color: #377dff;
    font-weight: 700;
    font-size: 1.5em;
    padding: 3px 10px;
    text-align: center;
    margin-top: 10px;
  }

  & > label {
    position: relative;
    width: 100%;
    margin: 0 auto 24px;

    display: flex;
    align-items: center;

    & > input {
      margin: 0 auto;
    }
  }

  & > input:last-child {
    transition: all 0.3s ease-in-out;
  }
}

.invalidData {
  position: absolute;
  top: 2px;

  background-image: $invalid;
  color: #fff;

  border-radius: 2px;
  font-weight: bold;
  font-size: 0.8em;
  padding: 1px;
}

.eventButton {
  width: 30%;
  @extend %eventButtonWidthSets;
}

.eventButton:hover {
  transform: translateY(-3px);
  box-shadow: 0px 2px 5px rgb(87, 86, 128);
}
