.readyStartedItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(150deg, #2d1582 0%, #19a0ff 100%);
  position: relative;
  padding: 32px 0;

  & > * {
    margin: 5px 0;
  }

  & > h2,
  p,
  a {
    z-index: 900;
  }

  & > h2 {
    margin-bottom: 8px;
    font-weight: 600;
    color: #00dffc;
    font-size: 2em;
  }

  & > p {
    margin-bottom: 16px;
    color: #fff;
    font-size: 1.25em;
    font-weight: 300;
  }

  & > a {
    width: auto;
    padding: 12px 16px;
    background-color: #fff;
    border: 1px solid #e5e7eb;
    border-radius: 5px;
    color: #1e2022;
    transition-property: transform, box-shadow;
    transition-duration: 0.5s;
  }

  & > a:link,
  a:visited,
  :active {
    text-decoration: none;
  }

  & > a:hover {
    transform: translateY(-5px);
    box-shadow: 0px 1px 5px rgb(252, 251, 251);
  }
}

.abstractImg,
.leavesImg {
  position: absolute;
  width: 150px;
}

.abstractImg {
  top: 0;
  left: 0;
}

.leavesImg {
  bottom: 0;
  right: 0;
}
